{% extends "base_admin.html" %}

{% block content %}
    <p>Welcome to the Admin site. Here, you can edit your pages and any photos or videos on your website.</p>
    <ul>
        <li>Pages - this page allows you to edit any of the pages on your site</li>
        <li>Announcements - this page allows you to create or edit any announcements</li>
        <li>Photos - this page allows you to add, edit, or remove photos from the Photo Gallery page</li>
        <li>Performances - this page allows you to add, edit, or remove videos from the Performances page</li>
        <li>Lectures - this page allows you to add, edit, or remove videos from the Lectures page</li>
        <li>Account Settings - this page allows you to edit any account settings, including your username or password</li>
    </ul>
{% endblock %}
