.content {
    .lecture-list {
        font-size: 0;
        .lecture {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            font-size: initial;
            padding: 10px;
            .title {
                margin-bottom: 0.5em;
            }
            .thumbnail {
                display: inline-block;
                vertical-align: top;
                position: relative;
                font-size: 0;
                img {
                    width: 200px;
                }
                // play button and darken on hover
                a:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: rgba(0,0,0,0) no-repeat center center;
                    background-size: 35%;
                    transition: 0.3s ease-in-out;
                }
                &:hover a:before {
                    background-color: rgba(0,0,0,0.3);
                    background-image: url(img/play.png);
                }
            }
            .description {
                display: inline-block;
                vertical-align: top;
                padding-left: 10px;
                width: calc(100% - 210px);
            }
        }
    }
}