.content {
    font-size: 0;
    .info, .sidebar {
        display: inline-block;
        font-size: initial;
        vertical-align: top;
    }
    .info {
        width: 75%;
        padding-right: 50px;
    }
    .sidebar {
        width: 25%;
        img {
            width: 100%;
        }
    }
}