@import '../settings';

.login-form {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    .field {
        margin: 10px 0;
        font-size: 20px;
        label {
            display: inline-block;
            width: 125px;
        }
        input {
            font-size: 18px;
            padding: 2px;
        }
    }
    .login-button {
        margin-top: 20px;
        padding: 5px;
        width: 100px;
        font-size: 17px;
        cursor: pointer;
        background: #fff;
        border: 2px solid $theme-black;
        border-radius: 3px;
        &:hover {
            color: #666;
            border-color: #555;
        }
    }
}