{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Dr. Sungae Lee</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cinzel+Decorative">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="{% url 'home' %}">Dr. Sungae Lee</a></h1>
            <nav>
                <div class="nav-item">
                    <a href="#">About</a>
                </div>
                <div class="nav-item">
                    <a href="#">Events</a>
                </div>
                <div class="nav-item">
                    <a href="#">Media</a>
                </div>
                <div class="nav-item">
                    <a href="#">Lectures</a>
                </div>
            </nav>
        </header>
        <div class="content">{% block content %}{% endblock %}</div>
        <footer>
            <p>Dr. Sungae Lee | (123) 456-7890</p>
        </footer>
    </div>
</body>
</html>