{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Dr. Sungae Lee - Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_admin.css' %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
</head>
<body>
    <header>
        <h1><a href="{% url 'admin:home' %}">Admin Site for Sungae Lee</a></h1>
        <ul class="nav">
            <li><a href="#">Pages</a></li>
            <li><a href="#">Announcements</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Performances</a></li>
            <li><a href="#">Lectures</a></li>
        </ul>
    </header>
    <div class="content">{% block content %}{% endblock %}</div>
</body>
</html>